body {
	margin: 0;
	background-color: gray;
}

.wrapper {
	padding: 0 4%;
}

.top {
	margin: 4%;
	background: white;
	padding: 1% 4%;
	display: block;
	height: 25%;
}

.button {
	height:50px;
	width:100px;
	float:left;
	display: inline;
	color:white;
	text-align: center;
	margin-right: 25px;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}


.middle {
	background-color: white;
	padding: 4%;
	margin: 4%;
	display:block;
	height: 48%;
}

.main-image {
	display: inline-block;
	background-color: black;
	height: 135px;
	width: 100%;
	float: left;
	color: white;
	text-align: center;
	padding-top: 90px;
	margin-bottom: 20px;
}

.middleText {
	top: 15px;
	display: block;
}

.bar {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 60px;
	background-color: black;
	width: 100%;
	color: white;
	float: right;
}

li {
	height: 60px;
	width: 60px;
	display: inline;
	color: white;
	text-align: right;
	margin-right: 25px;
	float:right;
}