* {
	box-sizing: border-box;
}

.wrapper {
	height: 1200px;
	width: 100%;
}

.header {
	height: 10%;
	width: 100%;
}

.box {
	height: 100%;
}

.top {
	display: block;
	float: left;
	width: 25%;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.top.blue {
	margin: 0 12%;
}

.gray {
	background-color: gray;
}

.textArea {
	height: 30%;
	width: 100%;
}	

.body {
	height: 30%;
	width:	100%;
}

.middle {
	display: block;
	float: left;
}

.boxLeft {
	width: 30%;
	height: 100%
}

.boxRight {
	width: 70%;
	height: 100%;
}

.footer {
	height: 10%;
}

.bottom {
	margin-top: 5%;
	display: block;
	float: left;
}

.box1 {
	width: 60%;
}

.box2 {
	width: 5%;
}

.box3 {
	width: 30%;
}
